.card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 6px;
    box-shadow: 3px 3px 5px #ababab;
    min-width: 400px;
    padding: 12px 24px;
    background-color: #ffffff;

    .cardRow {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .cardTop {
        display: flex;
        justify-content: flex-start;

        .cityName {
            font-size: 24px;
            font-weight: 500;
        }
    }

    .cardCenter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .cardTemp {
            font-size: 44px;
        }

        .cardWeatherDesc {
            font-size: 16px;
            color: #757575;
        }
    }
}

.card:hover {
    box-shadow: 5px 5px 10px #ababab;
}
