.btn {
  padding: 17px 40px 16px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: black;
  display: inline-block;
  text-align: center;
  border: none;
  background-color: lavender;
  cursor: pointer;
}