.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 3px 3px 5px #ababab;
    min-width: 400px;
    padding: 12px;
    background-color: #ffffff;
    cursor: pointer;

    .cardData {
        display: flex;
        flex-direction: column;

        .cardTemp {
            font-size: 32px;
            font-weight: 600;
        }

        .cardCity {
            font-size: 16px;
            color: #757575;
        }
    }

    .cardBottomRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.card:hover {
    box-shadow: 5px 5px 10px #ababab;
    background-color: lavender;
}
